*{
    box-sizing: border-box;

}

header{
    padding: 30px;
    text-align: center;
    border: 1px solid rgb(170, 101, 40);
    background-color: #e5e5e5;
}

nav{
    float: left;
    width: 20%;

}

nav ul{
    list-style-type: none;
    border: 1px solid rgb(103, 30, 146);
    background-color: #e5e5e5;
    text-align: center;
    padding: 0px;
    margin-top: 0px;
}

nav ul li a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    background-color: #555;
    color: #fff;
}

article{
    float: left;
    width: 80%;
    border: 1px solid rgb(167, 37, 89);
    background-color: #e5e5e5;
    padding: 0 20px;
}

footer{
    text-align: center;
}

.satu{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(18, 188, 182);
}

.dua{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(27, 146, 215);
}